Source: step-cli
Section: utils
Priority: optional
Maintainer: Smallstep Labs, Inc. <techadmin@smallstep.com>
Build-Depends: debhelper (>= 9), git, bash-completion
Standards-Version: 4.2.0
Homepage: https://github.com/smallstep/cli
Vcs-Browser: https://github.com/smallstep/cli.git
Vcs-Git: https://github.com/smallstep/cli.git

Package: step-cli
Architecture: any
Depends: ${misc:Depends}
Description: Zero trust swiss army knife
   step is a zero trust swiss army knife. It’s an easy-to-use and hard-to-misuse
   utility for building, operating, and automating systems that use zero trust
   technologies like authenticated encryption (X.509, TLS), single sign-on
   (OAuth OIDC, SAML), multi-factor authentication (OATH OTP, FIDO U2F),
   encryption mechanisms (JSON Web Encryption, NaCl), and verifiable claims
   (JWT, SAML assertions)
