Source: step
Section: devel
Priority: extra
Maintainer: Mariano Cano <mariano@smallstep.com>
Uploaders: Mariano Cano <mariano@smallstep.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
Standards-Version: 3.9.8
Homepage: https://github.com/smallstep/cli
Vcs-Browser: https://github.com/smallstep/cli.git
Vcs-Git: https://github.com/smallstep/cli.git
XS-Go-Import-Path: github.com/smallstep/cli

Package: step
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description:
 TODO: long description
 plumbing for distributed systems
